GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-west1
GCP_CREDENTIALS_FILE=credentials/pipeline_sa.json
GCS_RAW_BUCKET=${GCP_PROJECT_ID}-tourism-raw
GCS_PROCESSED_BUCKET=${GCP_PROJECT_ID}-tourism-processed
BQ_DATASET_RAW=tourism_raw
BQ_DATASET_STAGING=tourism_staging
BQ_DATASET_MART=tourism_mart
